{% extends "card_base.html" %}
{% load bootstrap4 %}

{% block title %} Log In {% endblock %}

{% block card_content %}
  <div class="card-body">
    <h4 class="card-title">Log In</h4>
    <hr>
    <form method="post">
      {% csrf_token %}
      {% bootstrap_form form %}
      {% buttons %}
      <div class="d-flex justify-content-between">
        <button type="submit" class="btn btn-primary">Log In</button>
        <a href="{% url "signup" %}" class="btn btn-secondary">Sign Up</a>
      </div>
      {% endbuttons %}
    </form>
  </div>
{% endblock %}